body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoyoDaV9F1Ofhv4ANmbS3LqqULiH5Lt_7aMuD-0il_WuR78QSg) no-repeat center center fixed;
    background-size: cover; 

}
.nav a{
    color:#000066;
}


.form_box {
    padding-top : 50px;
    color :  black;
    font-size: 20px;
    input {
        background: rgba(174, 218, 231, 0.53);
        color : #000066;
    }
    .submit_button {
        color:white;
        background: #000066;
    }
}